{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">

<!-- ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
<div>
  <form action="/t4/tambah-kendaraan" method="POST">
    {% csrf_token %}
      <div class="container">
        <h1>FORM TAMBAH KENDARAAN</h1>
        <hr>
    
        <label for="no_kendaraan"><b>Nomor Kendaraan</b></label>
        <input type="text" name="no_kendaraan" id="no_kendaraan" required>
    
        <label for="nama"><b>Nama</b></label>
        <input type="text" name="nama" id="nama" required>

        <label for="jenis_kendaraan"><b>Jenis Kendaraan</b></label>
        <input type="text" name="jenis_kendaraan" id="jenis_kendaraan" required>

        <label for="berat_maks"><b>Berat Maksimum</b></label>
        <br><br>
        <input type="number" name="berat_maks" id="berat_maks" required>
    
        <button type="submit" class="registerbtn">SIMPAN</button>
      </div>
      
    </form>
</div>
{% endblock %}