{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">

<!-- ajax -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
<div class="container" style="padding-left: 25%; padding-right: 25%; padding-bottom: 25%;">
  <form action="{% url 'add_warehouse_satgas_views' %}" method="POST">
    {% csrf_token %}
      <div class="container">
        <h1 id="anying">FORM TAMBAH WAREHOUSE SATGAS</h1>
        <hr>
        
        <table>
          <tr>
            <td>
              <label for="provinsi"><b>Provinsi</b></label>
            </td>
            <td>
              <select class="form-group" name="provinsi" id="provinsi" placeholder="Pilih provinsi..." required>
                <option value="" selected>Pilih provinsi...</option>
                {% for provinsi in list_provinsi %}
                <option value= "{{ provinsi.0 }}">{{ provinsi.0 }}</option>"
                {% endfor %}
              </select>
            </td>
          </tr>

          <tr>
            <td>
              <label for="lokasi"><b>Lokasi</b></label>        
            </td>
            <td>
              <select class="form-group" name="id_lokasi" id="id_lokasi" placeholder="Pilih id lokasi..." required>
              </select>
            </td>
          </tr>
        </table>
        <input type="text" name="lokasi" id="lokasi" value="" required readonly>                            
        <hr>
        <button type="submit" class="registerbtn">SIMPAN</button>
      </div>
      
    </form>
</div>

<script>
  $(document).ready(function() {
    // set lokasi value general
    $('#id_lokasi').on('change', function (e) {
      var optionSelected = $("option:selected", this);
      var valueSelected = this.value;

      set_lokasi(valueSelected);
    });
    function set_lokasi(id) {
      if(id == "") {
        lokasi = "---";
      }
      $.ajax({
        type: "GET",
        url: "/satgas/get_lokasi/" + id,
        dataType: 'json',
        success: function(response) {
          $('input[name=lokasi]').val(response);
        }
      });
	}
});

// set id_lokasi option base on provinsi
$('#provinsi').on('change', function (e) {
      var optionSelected = $("option:selected", this);
      var valueSelected = this.value;

      set_id_lokasi(valueSelected);
    });  

    function set_id_lokasi(provinsi) {      
      $.ajax({
        type: "GET",
        url: "/satgas/get_id_lokasi_from_provinsi/" + provinsi,
        dataType: 'json',
        success: function(response) {
            console.log($('#id_lokasi'));
            $('#id_lokasi').css('display', 'block').empty();
            
            $.each(response, function(key, value) {   
              console.log(value);
                $('#id_lokasi').append($("<option></option>").attr("value", value).text(value)); 
            });
        }
        
      });

	  }
</script>
{% endblock %}