{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<div style="padding-left:26px">

  {% if is_authenticated %}
    <h1>Menu</h1>
  {% endif %}



  <div class="vertical-menu">

    {% if is_admin_satgas %}
        <!-- PESANAN SUMBER DAYA -->
        <h2>Pesanan Sumber Daya</h2>
        <a href="/t3/pesanan-sumber-daya/tambah">TAMBAH PESANAN SUMBER DAYA</a>
        <a href="">LIST PESANAN SUMBER DAYA</a>
        </br>

        <!-- Riwayat Status Pesanan Sumber Daya -->
        <h2>Riwayat Status Pesanan Sumber 
            Daya</h2>
        <a href="">LIST WAREHOUSE SATGAS</a>
        </br>

        <!-- BATCH_Pengiriman -->
        <h2>Stock Fasilitas Kesehatan</h2>
        <a href="/satgas/batch_pengiriman">LIST BATCH PENGIRIMAN</a>

    {% elif is_supplier %}
        <!-- PESANAN SUMBER DAYA -->
        <h2>Pesanan Sumber Daya</h2>
        <a href="">LIST PESANAN SUMBER DAYA</a>
        </br>

        <h2>Riwayat Status Pesanan Sumber Daya</h2>
        <a href="/satgas/list-warehouse">LIST WAREHOUSE SATGAS</a>
        </br>
    {% endif %}

  </div>
  
</div>

  
  


{% endblock %}