{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

<div>
    <div class="container">
        <h1>
            TK4-SIDIA-C3
        </h1>
        <hr>

        <h2>Tugas Kelompok 4 Basis Data</h2>
        <p>Link heroku: https://sidia-tk4-c3.herokuapp.com/</p>
        <h3>Anggota Kelompok C3:</h3>

        <ul>
            <li>Andira Anggun Maharani (1906298765)</li>
            <li>Muhammad Ichsanul Amal (1906353454)</li>
            <li>Muhammad Rizki Fauzan (1906400375)</li>
            <li>Yusuf Fakhri Aldrian (1906351096)</li>    
        </ul>
        
    </div>


</div>

{% endblock %}