{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<div style="padding-left:26px">

{% if is_petugas_faskes %}
  <h1>Permohonan Sumber Daya</h1>
  <a href="{% url 'trigger2:permohonan_create' %}">1. Buat Permohonan Sumber Daya</a>
  <a href="{% url 'trigger2:permohonan_read' %}">2. List Permohonan Sumber Daya</a>
  <a href="{% url 'trigger2:permohonan_read' %}">3. List Riwayat Status Permohonan Sumber Daya</a>
  <br>

  <h1>Fasilitas Kesehatan</h1>
  <a href="/sumberdaya">1. List Stock Faskes</a>
  <br>

  <h1>Warehouse Satgas</h1>
  <a href="{% url 'list_stok_warehouse_satgas_views' %}">1. List Stock Warehouse Satgas</a>
  <br>

  <h1>Batch Pengiriman</h1>
  <a href="/t6/view_batch_pengiriman">1. List Batch Pengiriman</a>
  <br>

{% elif is_admin_satgas %}

    <h1>Permohonan Sumber Daya</h1>
    <a href="{% url 'trigger2:permohonan_create' %}">1. Buat Permohonan Sumber Daya</a>
    <a href="{% url 'trigger2:permohonan_read' %}">2. List Permohonan Sumber Daya</a>
    <a href="{% url 'trigger2:permohonan_read' %}">3. List Riwayat Status Permohonan Sumber Daya</a>
    <br>

    
    <h1>Item Sumber Daya </h1>
    <a href="{% url 'trigger2:item_read' %}">1. List Item Sumber Daya</a>
    <br>

    <h1>Pesanan Sumber Daya</h1>
    <a href="{% url 'tambah_psd' %}">1. Buat Pesanan Sumber Daya</a>
    <a href="/sumberdaya">2. List Pesanan Sumber Daya</a>
    <a href="/sumberdaya">3. List Riwayat Status Pesanan Sumber Daya</a>
    <br>

    <h1>Kendaraan</h1>
    <a href="{% url 'add_kendaraan' %}">1. Buat Kendaraan</a>
    <a href="{% url 'list_kendaraan' %}">2. List Kendaraan</a>
    <br>

    <h1>Batch Pengiriman</h1>
    <a href="{% url 'batch_pengiriman_views' %}">1. Buat Batch Pengiriman</a>
    <a href="{% url 'batch_pengiriman_views' %}">2. List Batch Pengiriman</a>
    <a href="/sumberdaya">3. Buat Riwayat Status Batch Pengiriman</a>
    <a href="/sumberdaya">4. List Riwayat Status Batch Pengiriman</a>
    <br>

    <h1>Lokasi</h1>
    <a href="{% url 'add_lokasi' %}">1. Buat Lokasi </a>
    <a href="{% url 'list_lokasi' %}">2. List Lokasi</a>
    <br>

    <h1>Fasilitas Kesehatan</h1>
    <a href="{% url 'add_faskes' %}">1. Buat Faskes</a>
    <a href="{% url 'list_faskes' %}">2. List Faskes</a>
    <a href="/sumberdaya">3. Buat Stock Faskes</a>
    <a href="/sumberdaya">4. List Stock Faskes</a>
    <br>

    <h1>Warehouse Satgas</h1>
    <a href="{% url 'add_warehouse_satgas_views' %}">1. Buat Warehouse Satgas</a>
    <a href="{% url 'list_warehouse_views' %}">2. List Warehouse Satgas</a>
    <a href="{% url 'add_stock_warehouse_satgas_views' %}">3. Buat Stock Warehouse Satgas</a>
    <a href="{% url 'list_stok_warehouse_satgas_views' %}">4. List Stock Warehouse Satgas</a>
    <br>

{% elif is_supplier %}
  <h1>Item Sumber Daya </h1>
  <a href="{% url 'trigger2:item_read' %}">1. Buat item sumber daya</a>
  <a href="{% url 'trigger2:item_read' %}">2. List Item Sumber Daya</a>
  <br>

  <h1>Pesanan Sumber Daya</h1>
    <a href="{% url 'tambah_psd' %}">1. Buat Pesanan Sumber Daya</a>
    <a href="/sumberdaya">2. List Pesanan Sumber Daya</a>
    <a href="/sumberdaya">3. List Riwayat Status Pesanan Sumber Daya</a>
    <br>

    <h1>Fasilitas Kesehatan</h1>
    <a href="{% url 'list_faskes' %}">1. List Faskes</a>
    <br>
  
    <h1>Warehouse</h1>
    <a href="{% url 'list_warehouse_views' %}">1. List Warehouse Satgas</a>
    <a href="{% url 'list_stok_warehouse_satgas_views' %}">2. List Stock Warehouse Satgas</a>
    <br>

{% elif is_petugas_distribusi %}
    <h1>Kendaraan</h1>
    <a href="{% url 'list_kendaraan' %}">1. List Kendaraan</a>
    <br>

    <h1>Batch Pengiriman</h1>
    <a href="/t6/view_batch_pengiriman">1. List Batch Pengiriman</a>
    <a href="/sumberdaya">2. List Riwayat Status Batch Pengiriman</a>
    <br>
  

{% endif %}


  </div>
  
</div>

{% endblock %}
