{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">
{% endblock %}

{% block content %}
<div>
  <form action="/register-admin" method="POST">
    {% csrf_token %}
      <div class="container">
        <h1>FORM PENDAFTARAN ADMIN SATGAS</h1>
        {% if is_registered %}
        <div class="container signin">
          <p style="color: red;">Username sudah terdaftar, silakan gunakan username lain!</p>
        </div>  
        {% endif %}
        <p>Please fill in this form to create an account.</p>
        <hr>
    
        <label for="email"><b>Username</b></label>
        <input type="text" placeholder="Enter username" name="email" id="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    
        <label for="nama"><b>Nama</b></label>
        <input type="text" name="nama" id="nama" required>
    
        <label for="alamat"><b>Alamat</b></label>
        <div id="dalem-alamat">
            <label for="kelurahan"><b>Kelurahan</b></label>
            <input type="text" name="Kelurahan" id="Kelurahan" required>
    
            <label for="Kecamatan"><b>Kecamatan</b></label>
            <input type="text" name="Kecamatan" id="Kecamatan" required>
    
            <label for="kbkt"><b>Kabupaten/Kota</b></label>
            <input type="text" name="kbkt" id="kbkt" required>
    
            <label for="provinsi"><b>Provinsi</b></label>
            <select name="provinsi" required>
                {% for prov in list_provinsi %}
                <option value= "{{ prov.1 }}" SELECTED>{{ prov.1 }}</option>"
                {% endfor %}
            </select>
    
        </div>
    
        <label for="no_telp"><b>No. Telepon</b></label>
        <input type="text" name="no_telp" id="no_telp" required>
    
        <hr>
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    
        <button type="submit" class="registerbtn">Register</button>
      </div>
      
      <div class="container signin">
        <p>Already have an account? <a href="/login">login</a>.</p>
      </div>
    </form>
</div>
{% endblock %}