{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">

<!-- ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
<div>
  <form action="{% url 'buat_riwayat_pengiriman_views' kode_batch%}" method="POST">
    {% csrf_token %}
      <div class="container">
        <h1>FORM UBAH STATUS PENGIRIMAN</h1>

        <label for="kode_batch"><b>Kode Batch Pengiriman</b></label>
        <input type="text" name="kode_batch" id="kode_batch" value="{{ kode_batch }}" required readonly>

        <label for="waktu"><b>Waktu Update</b></label>
        <input type="text" name="waktu" id="waktu" value="{{ waktu }}" required readonly>

        <label for="status"><b>Status :</b></label>
        <select name="status" id="status" placeholder="Pilih Status" required>
            <option value="" selected>Pilih Status</option>
            {% for i in list_status_pengiriman %}
            <option value= "{{ i.0 }}">{{ i.1 }}</option>"
            {% endfor %}
        </select>
        </br>

        <button type="submit" class="registerbtn">UPDATE</button>
      </div>
      
    </form>
</div>

<script>
  $(document).ready(function() {
    $('select').selectize({
          sortField: 'text'
      });
    
    $('#id_lokasi').on('change', function (e) {
      var optionSelected = $("option:selected", this);
      var valueSelected = this.value;

      set_lokasi(valueSelected);
    });

    function set_lokasi(id) {
      if(id == "") {
        lokasi = "---";
      }
      
      $.ajax({
        type: "GET",
        url: "/t6/get_lokasi/" + id,
        dataType: 'json',
        success: function(response) {
          console.log(response);

          $('input[name=lokasi]').val(response);
        }
      });
  }

});
</script>
{% endblock %}