{% extends 'base/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">

<!-- ajax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
<div>
  <form action="{% url 'update_faskes_views' kode%}" method="POST">
    {% csrf_token %}
      <div class="container">
        <h1>FORM EDIT FASILITAS KESEHATAN</h1>
        <hr>
    
        <label for="kode_faskes"><b>Kode Faskes</b></label>
        <input type="text" name="kode_faskes" id="kode_faskes" readonly value="{{ kode }}" required>
    
        <label for="lokasi"><b>Lokasi</b></label>
        <select name="id_lokasi" id="id_lokasi" placeholder="Pilih id lokasi..." required>
          <option value="" selected>Pilih id lokasi...</option>
          {% for id in list_id_lokasi %}
            <option value= "{{ id.0 }}">{{ id.0 }}</option>"
          {% endfor %}
        </select>
        <input type="text" name="lokasi" id="lokasi" value="" required readonly>

        <label for="petugas_faskes"><b>Petugas Faskes:</b></label>
        <select name="petugas_faskes" id="petugas_faskes" placeholder="Pilih petugas faskes..." required>
            <option value="" selected>Pilih petugas faskes...</option>
            {% for petugas in list_petugas_faskes %}
            <option value= "{{ petugas.0 }}">{{ petugas.1 }}</option>"
            {% endfor %}
        </select>
        </br>

        <label for="tipe_faskes"><b>Tipe Faskes</b></label>
        <select name="tipe_faskes" id="tipe_faskes" placeholder="Pilih Kode Tipe Faskes..." required>
          <option value="" selected>Pilih Kode Tipe Faskes...</option>

          {% for tipe in list_faskes %}
            <option value= "{{ tipe.0 }}" SELECTED>{{ tipe.0 }} - {{ tipe.1 }}</option>"
          {% endfor %}
        </select>
        <input type="text" name="tipe_faskes2" id="tipe_faskes2" value="" required readonly>
        
        <hr>
    
        <button type="submit" class="registerbtn">UPDATE</button>
      </div>
      
    </form>
</div>

<script>
  $(document).ready(function() {
    $('select').selectize({
          sortField: 'text'
      });
    
    $('#id_lokasi').on('change', function (e) {
      var optionSelected = $("option:selected", this);
      var valueSelected = this.value;

      set_lokasi(valueSelected);
    });

    function set_lokasi(id) {
      if(id == "") {
        lokasi = "---";
      }
      
      $.ajax({
        type: "GET",
        url: "/satgas/get_lokasi/" + id,
        dataType: 'json',
        success: function(response) {
          console.log(response);

          $('input[name=lokasi]').val(response);
        }
      });
	}

});
</script>
{% endblock %}